body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
  background-color: #f4f4f4;
}

.main-wrapper {
  width: 80%;
}

.main-wrapper .recharts-wrapper{
  margin: 75px;
}

.search-container input[type=text] {
  padding: 4px;
  margin-top: 8px;
  font-size: 17px;
  width: 60%;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  width: 10%;
  border: #000;
  cursor: pointer;
}

.search-container {
  padding: 10px 10px 20px 25px;
}

